{% extends 'allproduits.html.twig' %}
{% block body %}
<!-- SLIDER -->

<!-- ABOUT -->

<!-- MILESTONE -->


<section id="services" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
        <div class="row g-4">
            {% for produit in produit %}
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="img/icon1.png" alt="">
                        <h5>Digital Marketing</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

</section>

<section class="bg-light" id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="intro">
					<h6>Work</h6>
					<h1>Successful projects</h1>
					<p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
						                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
			</div>
		</div>
	</div>
	<div id="projects-slider" class="owl-theme owl-carousel">
		<div class="project">
			<div class="overlay"></div>
			<img src="img/project1.jpg" alt="">
			<div class="content">
				<h2>Consulting Marketing</h2>
				<h6>Website Design</h6>
			</div>
		</div>
		<div class="project">
			<div class="overlay"></div>
			<img src="img/project2.jpg" alt="">
			<div class="content">
				<h2>Consulting Marketing</h2>
				<h6>Website Design</h6>
			</div>
		</div>
		<div class="project">
			<div class="overlay"></div>
			<img src="img/project3.jpg" alt="">
			<div class="content">
				<h2>Consulting Marketing</h2>
				<h6>Website Design</h6>
			</div>
		</div>
		<div class="project">
			<div class="overlay"></div>
			<img src="img/project4.jpg" alt="">
			<div class="content">
				<h2>Consulting Marketing</h2>
				<h6>Website Design</h6>
			</div>
		</div>
		<div class="project">
			<div class="overlay"></div>
			<img src="img/project5.jpg" alt="">
			<div class="content">
				<h2>Consulting Marketing</h2>
				<h6>Website Design</h6>
			</div>
		</div>
	</div>
</section>






{% endblock%}
{% block sidebar %}{% endblock %}
