
{% extends 'home.html.twig' %}

{% block sidebar %}
	<aside class="left-sidebar" data-sidebarbg="skin6">
		
				<!-- Sidebar scroll-->

				<!-- Sidebar navigation-->
					<nav class="sidebar sidebar-expand-lg navbar-light bg-white sticky-top"> <div class="container">
						<div id="navbarNav">
							<ul class="navbar-nav ms-auto">


								<li class="nav-item">
									<a class="btn btn-brand ms-lg-3" href="" aria-expanded="false">
										<i class="mdi mdi-home-outline fs-4"></i>
										<span class="hide-menu">Home</span>
									</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="" aria-expanded="false">
										<i class="mdi mdi-view-dashboard"></i>
										<span class="hide-menu">Dashboard</span>
									</a>
								</li>


								<li class="sidebar-item">
									<a class="nav-link" href="" aria-expanded="false">
										<i class="mdi mdi-border-all"></i>
										<span class="hide-menu">
											Historique</span>
									</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="" aria-expanded="false">
										<i class="mdi mdi-face"></i>
										<span class="hide-menu">Chat</span>
									</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="" aria-expanded="false">
										<i class="mdi mdi-file"></i>
										<span class="hide-menu">Reclamation</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="" aria-expanded="false">
										<i class="mdi mdi-view-dashboard"></i>
										<span class="hide-menu">Profile</span>
									</a>
								</li>
                                <li class="nav-item">
									<a class="nav-link" href="" aria-expanded="false">
										<i class="mdi mdi-view-dashboard"></i>
										<span class="hide-menu">Articles</span>
									</a>
								</li>


							</ul>

						</div>
					</div>
</nav>

<!-- End Sidebar scroll--></aside>{% endblock %}



{% block body %}

{% endblock %}