{% extends 'front.html.twig' %}

									{% block content  %}
									{% for service in service %}
									<div class="row">
										<div class="col-lg-4 col-md-6 col-sm-12">
											
										</div>
										<div class="col-lg-4 col-md-6 col-sm-12">
											<div class="single-product">
												<div class="product-thumb-sin">
													<a href="#"><img src="" alt="" /></a>
													<div class="product-action">
														
													</div>
												</div>
												
											</div>
										</div>
										
						
									</div>
									{% endfor   %}
									{% endblock %}
									
								
  
	