<div class="table-responsive">
    <table class="table mb-0">
        <thead>
        <tr>
           

          

        </tr>
        </thead>
        <tbody>
        {% for service in service %}
            <tr>
                <td>{{ service.duree }}</td>
                <br>
                <td>{{ service.niveau }}</td>
              </tr>

        {% endfor %}
        </tbody>

    </table>
</div>
